.idea/
/problem_01/target/
/problem_02/target/
/problem_03/target/
/problem_04/target/
/problem_05/target/
/problem_06/target/
/problem_07/target/
/problem_08/target/
/problem_09/target/
/problem_10/target/
/problem_11/target/
/problem_12/target/
/problem_13/target/
/problem_14/target/
/problem_15/target/
/problem_16/target/
/problem_17/target/
/problem_18/target/
/problem_19/target/
/problem_20/target/
/problem_21/target/
/problem_22/target/
/problem_23/target/
/problem_24/target/
/problem_25/target/
/problem_26/target/
/problem_27/target/
/problem_28/target/
/problem_29/target/
/problem_30/target/
/problem_31/target/
/problem_32/target/
/problem_33/target/
/problem_34/target/
/problem_35/target/
/problem_36/target/
/problem_37/target/
/problem_38/target/
/problem_39/target/
/problem_40/target/
/problem_41/target/
/problem_42/target/
/problem_43/target/
/problem_44/target/
/problem_45/target/
/problem_46/target/
/problem_47/target/
/problem_48/target/
/problem_49/target/
/problem_50/target/
/problem_51/target/
/problem_52/target/
/problem_53/target/
/problem_54/target/
/problem_55/target/
/problem_56/target/
/problem_57/target/
/problem_58/target/
/problem_59/target/
/problem_60/target/
/problem_61/target/
/problem_62/target/
/problem_63/target/
/problem_64/target/
/problem_65/target/
/problem_66/target/
/problem_67/target/
/problem_68/target/
/problem_69/target/
/problem_70/target/
/problem_71/target/
/problem_72/target/
/problem_73/target/
/problem_74/target/
/problem_75/target/
/problem_76/target/
/problem_77/target/
/problem_78/target/
/problem_79/target/
/problem_80/target/
/problem_81/target/
/problem_82/target/
/problem_83/target/
/problem_84/target/
/problem_85/target/
/problem_86/target/
/problem_87/target/
/problem_88/target/
/problem_89/target/
